<html>
<head>
	<title>Cover</title>
	<link rel="stylesheet" type="text/css" href="assets/css/styles1.css">
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/script.js"></script>
</head>
<body>
	<div class="gap60"></div>

	<div id="topbar-container">
		<div id="topbar"></div>
		<div id="name" class="topbar-item">HONGJIAN</div>
		<div class="topbar-item">Programming</div>
		<div class="topbar-item">Business</div>
		<div class="topbar-item">Student</div>
		<div id='message-container'>
			<div id='message'>CONTACT ME</div>
		</div>
	</div>


	<div id="panel1" class="panel">		
		
		<div class="container">			
			<div class="title">Hongjian(Luke) Zhang</div>
			<div class="separator"></div>
			<div class="menu">
				<div class="item">About</div>
				<div class="item">Technical Knowledge</div>
				<div class="item">Projects</div>
				<div class="item">Employment</div>
			</div>
			<div class="social-container">
				<div class="social">
					<div class="item">Resume</div>
					<div class="item">Mentions</div>
				</div>
			</div>
		</div>
	</div>

	<div id="panel2" class="panel">		
		<div id="title2" class="title">Who I am</div>
		
			<div id="paragraph1" class="paragraph">
				<div id="line1" class="line">I am a current student at UC Berkeley, studying</div>
				<div id="line2" class="line">COMPUTER SCIECNE & ECONOMICS. </div>
				<div id="line3" class="line">Passionate about</div>
				<div id="line4" class="line">TECHNOLOGY</div>
				<div id="line5" class="line">I aspire to become</div>
				<div id="line6" class="line">a great project manager,</div>
				<div id="line7" class="line">an effective businessman,</div>
				<div id="line8" class="line">and a revolutionary entrepreneur.
				</div>
			</div>
			

	</div>

	<div class ="bottom">

	</div>
</body>
</html